<section id="content">
  <div class="container" style="background: url(<%= image_url 'box50.png' %>)">
	<div class="row">
		<div class="grid_9">
			<h3 style="font-size: 2em;" align="center">Оставить отзыв о салоне "Сафари"</h3>
			<%= render 'form' %>

			<a href="<%= comments_path %>" class="btn"  style="margin-left: 20%; margin-bottom: 20px;"> Назад </a>
		</div>
	</div>
  </div>
</section>
