<h1>Добро пожаловать</h1>
Сейчас <%= Time.now %>
<p>Вы вошли в административную область</p>

<form action = "/admin/index_post">
      <input id="password" name="password" type="password" /><br />
      <input type="submit" value="Ок" style="margin-top: 20px;"/>
