<section id="content">
  <div class="container" style="background: url(<%= image_url 'box50.png' %>)">
	<div class="row" style="margin-left: 20px; margin-bottom: 20px;">
		<div class="grid_9">
			<h3 style="font-size: 2em;" align="center">Изменить пользователя</h3>
			<%= render 'form' %>

			<a href="<%=  users_path %>" class="btn"  style="margin-left: 20%; margin-bottom: 20px;"> Назад </a>
		</div>
	</div>
  </div>
</section>
