<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Афропрически
		</h1>
		<ol class="breadcrumb">
                    <li><a href="<%= index_path %>"><strong>Главная</strong></a>
                    </li>
		    <li>Услуги</li>
                    <li class="active">Афропрически</li>
                </ol>
	</div>
</div>
<!-- /.row -->

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Цены на услуги "Афропрически"</div>
	<div class="panel-body">
	</div>

	<table class="table table-hover">
			<tr>
				<th>Наименование услуги</th>
				<th>Время</th>
				<th>Цена(руб.)</th>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Афропрически через брейды (с выпуском)(без учёта стоимости материалов)</strong></td>
			</tr>
			<tr>
				<td>Зи-зи (4 пачки)суперлоконыгофре</td>
				<td></td>
				<td>2000-2500</td>
			</tr>
			<tr>
				<td>Африканское наращиваниепришивание тресса</td>
				<td></td>
				<td>1000-1500</td>
			</tr>
			<tr>
				<td>Безопасные дреды</td>
				<td></td>
				<td>1500-2500</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Афропрически быстрого плетения(без учета стоимости материалов)</strong></td>
			</tr>
			<tr>
				<td>Зи-зи (5 пачек – 130 пар косичек)</td>
				<td></td>
				<td>4000</td>
			</tr>
			<tr>
				<td>Зи-зи (5 пачек)без учета стоимости материалов </td>
				<td></td>
				<td>2200-2500</td>
			</tr>
			<tr>
				<td>Коррекция 1 косички гофре, зи-зи</td>
				<td>1 час.</td>
				<td>300</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Классические афропрически</strong></td>
			</tr>
			<tr>
				<td>Сенегальские косички (1 шт)</td>
				<td></td>
				<td>70</td>
			</tr>
			<tr>
				<td>Сенегальские косички (1 шт)</td>
				<td></td>
				<td>70</td>
			</tr>
			<tr>
				<td>Жгуты (1 шт.)</td>
				<td></td>
				<td>70</td>
			</tr>
			<tr>
				<td>Французские косички прямые (1 шт.)</td>
				<td></td>
				<td>70-100</td>
			</tr>
		</table>
</div>
