<section id="content" class="gallery">
  <div class="container" style="background: url(<%= image_url 'box40.png' %>)">
    <div class="row" align="center" style="margin-bottom: 20px;">
		
		<div class="grid_12">
			<h2 style="font-size: 2em;">Афропрически</h2>
		</div>
      
		<table>
			<tr>
				<th>Наименование услуги</th>
				<th>Время</th>
				<th>Цена(руб.)</th>
			</tr>
			<tr>
				<td colspan="3" align="center">Классические афропрически</td>
			</tr>
			<tr>
				<td>Классические афрокосички, пони</td>
				<td></td>
				<td>5000-5500</td>
			</tr>
			<tr>
				<td>Сенегальские косички <br>(работают 2 мастера)</td>
				<td></td>
				<td>5000-5500</td>
			</tr>
			<tr>
				<td>Сенегальские косички (1 шт)</td>
				<td></td>
				<td>70</td>
			</tr>
			<tr>
				<td>Жгуты (1 шт.)</td>
				<td></td>
				<td>70</td>
			</tr>
			<tr>
				<td>Безопасные дреды</td>
				<td></td>
				<td>4500-7500</td>
			</tr>
			<tr>
				<td>Французские косички прямые (1 шт.)</td>
				<td></td>
				<td>70-100</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Афропрически быстрого плетения</td>
			</tr>
			<tr>
				<td>Зи-зи (5 пачек – 130 пар косичек)</td>
				<td></td>
				<td>4000</td>
			</tr>
			<tr>
				<td>Зи-зи (5 пачек)<br>без учета стоимости материалов </td>
				<td></td>
				<td>2600</td>
			</tr>
			<tr>
				<td>Гофре</td>
				<td></td>
				<td>4000-4500</td>
			</tr>
			<tr>
				<td>Кэтрин - твист</td>
				<td></td>
				<td>5200</td>
			</tr>
			<tr>
				<td>Коррекция 1 косички гофре,<br> зи-зи(без учета стоимости материалов)</td>
				<td></td>
				<td>20</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Афропрически через брейды (с выпуском)</td>
			</tr>
			<tr>
				<td>Зи-зи (4 пачки)</td>
				<td></td>
				<td>3200</td>
			</tr>
			<tr>
				<td>Суперлоконы</td>
				<td></td>
				<td>3200</td>
			</tr>
			<tr>
				<td>Гофре</td>
				<td></td>
				<td>3400</td>
			</tr>
		</table>
      
    </div>
  </div>
</section>
