<section id="content">
  <div class="container" style="background: url(<%= image_url 'box40.png' %>)">
    <div class="row" >
      <div class="grid_12">
        <h2 style="font-size: 2em;" align="center">Расположение на карте</h2>
        <div class="map">
          <figure class="">
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=bT7bYA8xo9yogf6Gr_zFYieIirKU18Nq&amp;width=1280&amp;height=700&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
          </figure>
        </div>
      </div>
      <div class="grid_12">
        <h2 style="font-size: 2em;" align="center">Контакты</h2>
        <div class="map" style="font-size: 1.6em; margin-left: 2%;margin-bottom: 1%;">
	<figure class="">
          <strong>Салон - парикмахерская "САФАРИ"</strong>
          <p><strong>Адрес:</strong> Волжский, ул. Карбышева 132 А (28 микрорайон)</p>
          <p>Добраться до нас по городу <strong>Волжскому</strong> можно следующими маршрутами: <br>
		2, 3, 5, 6А, 11, 15, 15А, 16С, 40б</p><br>
		<p>Добраться до нас из города <strong>Волгограда</strong> можно следующими маршрутами: <br>
		115, 159А (до конечной), 246 (остановка 26 мкр., перед поворотом на ул. Оломоуцкую)</p>
		<br>
        <strong>Телефон:</strong> +7 937 714 6556<br>
        <strong>E-mail:</strong> salonsafari@mail.ru
	</figure>
      </div>
     </div>
    </div>
  </div>
</section>
