<section id="content" class="gallery">
  <div class="container" style="background: url(<%= image_url 'box40.png' %>)">
    <div class="row" align="center" style="margin-bottom: 20px;">
		
		<div class="grid_12">
			<h2 style="font-size: 2em;">Параметры</h2>
		</div>
		
		<select name="cut_type" name="Dest" aria-required="true" onChange="SelectedHaircut(this)">
			<option value="-1" selected="selected">Тип стрижки</option>
			<option value="0">Мужская стрижка(мастер салона Сафари)</option>
			<option value="1">Женская стрижка(мастер салона Сафари)</option>
			<option value="2">Мужская стрижка(Директор салона Сафари)</option>
			<option value="3">Женская стрижка(Директор салона Сафари)</option>
		</select>
		
		<br clear="all"<br><br>
      
		<table id="manMasters" style="display: none">
			<tr>
				<th>Наименование услуги</th>
				<th>Время</th>
				<th>Цена(руб.)</th>
			</tr>
			<tr>
				<td colspan="3" align="center">Стрижка мужская + фен</td>
			</tr>
			<tr>
				<td>Модельная</td>
				<td></td>
				<td>250</td>
			</tr>
			<tr>
				<td>Модельная повышенной сложности </td>
				<td></td>
				<td>270</td>
			</tr>
			<tr>
				<td>Простая </td>
				<td></td>
				<td>170-200</td>
			</tr>
			<tr>
				<td colspan="3"></td>
			</tr>
			<tr>
				<td>Стрижка бороды простая, стрижка усов</td>
				<td></td>
				<td>50</td>
			</tr>
			<tr>
				<td>Стрижка бороды усложённая</td>
				<td></td>
				<td>100</td>
			</tr>
			<tr>
				<td>Рисунок</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td align="right">простой</td>
				<td></td>
				<td>50</td>
			</tr>
			<tr>
				<td align="right">усложённый</td>
				<td></td>
				<td>100</td>
			</tr>
			<tr>
				<td>Наголо</td>
				<td></td>
				<td>100</td>
			</tr>
			<tr>
				<td>Усложнение (стрижка бровей и др.)</td>
				<td></td>
				<td>10</td>
			</tr>
			<tr>
				<td>Укладка волос</td>
				<td></td>
				<td>30-50</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Мытье волос</td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td></td>
				<td>20</td>
			</tr>
			<tr>
				<td>«3D Mension» 1 клик</td>
				<td></td>
				<td>30</td>
			</tr>
		</table>
      
		<table  id="womanMasters" style="display: none">
			<tr>
				<th>Наименование услуги</th>
				<th>Время</th>
				<th>Цена(руб.)</th>
			</tr>
			<tr>
				<td colspan="3" align="center">Стрижка женская + фен</td>
			</tr>
			<tr>
				<td>Модельная короткая</td>
				<td>40-50 мин</td>
				<td>300-350</td>
			</tr>
			<tr>
				<td>Каре, каскадная стрижка до плеч </td>
				<td>50 мин</td>
				<td>350-450</td>
			</tr>
			<tr>
				<td>Модельная стрижка на <br>длинных волосах</td>
				<td>1 час</td>
				<td>450-550</td>
			</tr>
			<tr>
				<td>Простая стрижка</td>
				<td>30 мин.</td>
				<td>270</td>
			</tr>
			<tr>
				<td>Чёлка</td>
				<td>10-20 мин</td>
				<td>70-100</td>
			</tr>
			<tr>
				<td>Оформление кончиков волос <br>(длина волос свыше 40 см)</td>
				<td>15 мин</td>
				<td>150</td>
			</tr>
			<tr>
				<td>Попрядное оформление кончиков <br> волос (длина волос свыше 40 см)</td>
				<td>20 мин</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Стрижка горячими ножницами</td>
				<td>20–30 мин</td>
				<td>400 - 650</td>
			</tr>
			<tr>
				<td>Лечение горячими ножницами</td>
				<td>1–1,5 часа</td>
				<td>700 - 900</td>
			</tr>
		</table>
		
		<table id="manDirector" style="display: none">
			<tr>
				<th>Наименование услуги</th>
				<th>Время</th>
				<th>Цена(руб.)</th>
			</tr>
			<tr>
				<td colspan="3" align="center">Стрижка мужская + фен</td>
			</tr>
			<tr>
				<td>Модельная</td>
				<td></td>
				<td>400</td>
			</tr>
			<tr>
				<td>Модельная повышенной сложности </td>
				<td></td>
				<td>500</td>
			</tr>
			<tr>
				<td>Простая </td>
				<td></td>
				<td>170-200</td>
			</tr>
			<tr>
				<td colspan="3"></td>
			</tr>
			<tr>
				<td>Стрижка бороды простая, стрижка усов</td>
				<td></td>
				<td>50</td>
			</tr>
			<tr>
				<td>Стрижка бороды усложённая</td>
				<td></td>
				<td>100</td>
			</tr>
			<tr>
				<td>Рисунок</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td align="right">простой</td>
				<td></td>
				<td>50</td>
			</tr>
			<tr>
				<td align="right">усложённый</td>
				<td></td>
				<td>100</td>
			</tr>
			<tr>
				<td>Наголо</td>
				<td></td>
				<td>100</td>
			</tr>
			<tr>
				<td>Усложнение (стрижка бровей и др.)</td>
				<td></td>
				<td>10</td>
			</tr>
			<tr>
				<td>Укладка волос</td>
				<td></td>
				<td>30-50</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Мытье волос</td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td></td>
				<td>20</td>
			</tr>
			<tr>
				<td>«3D Mension» 1 клик</td>
				<td></td>
				<td>30</td>
			</tr>
		</table>
		
		<table  id="womanDirector" style="display: none">
			<tr>
				<th>Наименование услуги</th>
				<th>Время</th>
				<th>Цена(руб.)</th>
			</tr>
			<tr>
				<td colspan="3" align="center">Стрижка женская + фен</td>
			</tr>
			<tr>
				<td>Модельная короткая</td>
				<td>40-50 мин</td>
				<td>550</td>
			</tr>
			<tr>
				<td>Каре, каскадная стрижка до плеч </td>
				<td>50 мин</td>
				<td>650</td>
			</tr>
			<tr>
				<td>Модельная стрижка на <br>длинных волосах</td>
				<td>1 час</td>
				<td>750</td>
			</tr>
			<tr>
				<td>Простая стрижка</td>
				<td>30 мин.</td>
				<td>270</td>
			</tr>
			<tr>
				<td>Чёлка</td>
				<td>10-20 мин</td>
				<td>150</td>
			</tr>
			<tr>
				<td>Оформление кончиков волос <br>(длина волос свыше 40 см)</td>
				<td>15 мин</td>
				<td>300</td>
			</tr>
			<tr>
				<td>Попрядное оформление кончиков <br> волос (длина волос свыше 40 см)</td>
				<td>20 мин</td>
				<td>450</td>
			</tr>
			<tr>
				<td>Стрижка горячими ножницами</td>
				<td>20–30 мин</td>
				<td>750</td>
			</tr>
			<tr>
				<td>Лечение горячими ножницами</td>
				<td>1–1,5 часа</td>
				<td>900</td>
			</tr>
		</table>
    </div>
  </div>
</section>
