<section id="content" class="gallery">
  <div class="container" style="background: url(<%= image_url 'box40.png' %>)">
    <div class="row" align="center" style="margin-bottom: 20px;">
		
		<div class="grid_12">
			<h2 style="font-size: 2em;">Уход за волосами</h2>
		</div>
      
		<table>
			<tr>
				<th>Наименование услуги</th>
				<th>Время</th>
				<th>Цена(руб.)</th>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Мытье волос (шампунь + бальзам)</strong></td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td>10 мин</td>
				<td>50</td>
			</tr>
			<tr>
				<td>«Bonacure»</td>
				<td>10 мин</td>
				<td>80</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td></td>
				<td>100</td>
			</tr>
			<tr>
				<td>«Nioxin» система</td>
				<td></td>
				<td>150-200</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Интенсивный уход</strong></td>
			</tr>
			<tr>
				<td>Кислотная маска для удаления пигмента</td>
				<td>10-20 мин</td>
				<td>200</td>
			</tr>
			<tr>
				<td>Пилинг для кожи головы от «Nioxin» + фен</td>
				<td>40 мин</td>
				<td>1700</td>
			</tr>
			<tr>
				<td>Маска серии «Bonacure» (1 клик)</td>
				<td>15 мин</td>
				<td>80</td>
			</tr>
			<tr>
				<td>Процедура экранирования волос <br><strong>Q3 THERAPY и Q3 BLOND</strong></td>
				<td>5 мин</td>
				<td>150</td>
			</tr>
			<tr>
				<td>Процедура кератинового восстановления<br> и выпрямления волос от <br><strong>GREYMY PROFESSIONAL <br>(кератин по-бразильски)</strong></td>
				<td>2 часа</td>
				<td>3000-6000</td>
			</tr>
			<tr>
				<td>Процедура эффективного обогащения, <br> укрепления и защиты структуры волос<br> от Greymy Professional <strong>Hair Spa Keratin</strong></td>
				<td>1 час</td>
				<td>900-1200</td>
			</tr>
			<tr>
				<td>Процедура эффективного восстановления <br> структуры волос от <br> Greymy Professional <strong>Improving Mask</strong></td>
				<td>40 мин</td>
				<td>1000-1200</td>
			</tr>
			<tr>
				<td>Процедура интенсивного увлажнения волос <br> от Greymy Professional <strong>Brilliant Mask</strong></td>
				<td>40 мин</td>
				<td>800-900</td>
			</tr>
			<tr>
				<td>Процедура Термокератин<br> от Estel</td>
				<td>10 мин</td>
				<td>300</td>
			</tr>
		</table>
      
    </div>
  </div>
</section>
