<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Окрашивание волос
		</h1>
		<ol class="breadcrumb">
                    <li><a href="<%= index_path %>"><strong>Главная</strong></a>
                    </li>
		    <li>Услуги</li>
                    <li class="active">Окрашивание волос</li>
                </ol>
	</div>
</div>
<!-- /.row -->

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Цены на услуги окрашивания волос</div>
	<div class="panel-body">
		<select name="cut_type" name="Dest" aria-required="true" onChange="SelectedHaircoloring(this)">
			<option value="0" selected="selected">Мастер салона Сафари</option>
			<option value="1">Директор салона Сафари</option>
		</select>
	</div>

	<table class="table table-hover" id="mastersHaircoloring">
			<tr>
				<th>Наименование услуги</th>
				<th>Время</th>
				<th>Цена(руб.)</th>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Окрашивание одним цветом</strong></td>
			</tr>
			<tr>
				<td colspan="3" align="center">Окрашивание корней (30-50 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>1,5 часа</td>
				<td>700-1000</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>1,5 часа</td>
				<td>1000-1500</td>
			</tr>
			<tr>
				<td colspan="3">Окрашивание волос (до 25 см, 30-40 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>1,5 часа</td>
				<td>700-1100</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>1,5 часа</td>
				<td>1000-1600</td>
			</tr>
			<tr>
				<td colspan="3">Окрашивание волос (25-40 см, 40-80 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>2 часа</td>
				<td>900-1350</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>2 часа</td>
				<td>1600-1950</td>
			</tr>
			<tr>
				<td colspan="3">Окрашивание волос (свыше 40 см, 60-90 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>2,5 часа</td>
				<td>1100-1550</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>2,5 часа</td>
				<td>1600-2250</td>
			</tr>			
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Простое колорирование</strong></td>
			</tr>
			<tr>
				<td colspan="3" align="center">Простое колорирование (до 25 см, 30-50 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>1,5 часа</td>
				<td>850-1200</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>1,5 часа</td>
				<td>1150-1600</td>
			</tr>
			<tr>
				<td colspan="3">Простое колорирование (25-40 см, 50-80 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>2 часа</td>
				<td>1200-1550</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>2 часа</td>
				<td>1700-2200</td>
			</tr>
			<tr>
				<td colspan="3">Простое колорирование (свыше 40 см, 60-90 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>2,5 часа</td>
				<td>1300-1700</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>2,5 часа</td>
				<td>1900-2400</td>
			</tr>			
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Колорирование, экспертное окрашивание, Dim-out</strong></td>
			</tr>
			<tr>
				<td colspan="3" align="center">Колорирование, экспертное  окрашивание, Dim-out(до 25 см, 50-100 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>1,5 часа</td>
				<td>900-1200</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>1,5 часа</td>
				<td>1300-1700</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Колорирование, экспертное  окрашивание, Dim-out(25-40 см, 60-100 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>2 часа</td>
				<td>1300-1800</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>2 часа</td>
				<td>1850-2600</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Колорирование, экспертное  окрашивание, Dim-out(свыше 40 см, 80-150 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>2,5 часа</td>
				<td>1600-2350</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>2,5 часа</td>
				<td>2300-3400</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Мелирование волос</strong></td>
			</tr>
			<tr>
				<td colspan="3" align="center">Мелирование волос (до 25 см, 50-70 г)</td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td>1,5 часа</td>
				<td>800-950</td>
			</tr>
			<tr>
				<td>«Wella» пудра</td>
				<td>1,5 часа</td>
				<td>950-1150</td>
			</tr>
			<tr>
				<td>«Wella» крем-блондор</td>
				<td>1,5 часа</td>
				<td>1050-1300</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Мелирование волос (25-40 см, 60-100 г)</td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td>2 часа</td>
				<td>900-1150</td>
			</tr>
			<tr>
				<td>«Wella» пудра</td>
				<td>2 часа</td>
				<td>1100-1500</td>
			</tr>
			<tr>
				<td>«Wella» крем-блондор</td>
				<td>2 часа</td>
				<td>1300-1700</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Мелирование волос (свыше 40 см, 80-140 г)</td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td>2,5 часа</td>
				<td>1100-1300</td>
			</tr>
			<tr>
				<td>«Wella» пудра</td>
				<td>2,5 часа</td>
				<td>1300-1750</td>
			</tr>
			<tr>
				<td>«Wella» крем-блондор</td>
				<td>2,5 часа</td>
				<td>1450-2000</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Растяжка цвета</strong></td>
			</tr>
			<tr>
				<td colspan="3" align="center">Растяжка цвета (25-40 см, 70-150 г)</td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td>2,5 часа</td>
				<td>1500-1800</td>
			</tr>
			<tr>
				<td>«Wella» пудра</td>
				<td>2,5 часа</td>
				<td>1700-2400</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Растяжка цвета (свыше 40 см, 100-170 г)</td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td>3 часа</td>
				<td>1800-2000</td>
			</tr>
			<tr>
				<td>«Wella» пудра</td>
				<td>3 часа</td>
				<td>2000-2500</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Цветовая баня</strong></td>
			</tr>
			<tr>
				<td>Цветовая баня</td>
				<td></td>
				<td>350-600</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Депигментирование (деколорант, кислотная смывка краски с волос)</strong></td>
			</tr>
			<tr>
				<td>Короткие волосы</td>
				<td>1 час</td>
				<td>600</td>
			</tr>
			<tr>
				<td>Удлинённые волосы</td>
				<td>1,5 часа</td>
				<td>700</td>
			</tr>
			<tr>
				<td>Длинные волосы</td>
				<td>1,5 часа</td>
				<td>800</td>
			</tr>
		</table>
		
		<table class="table table-hover" id="directorHaircoloring" style="display: none">
			<tr>
				<th>Наименование услуги</th>
				<th>Время</th>
				<th>Цена(руб.)</th>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Окрашивание одним цветом</strong></td>
			</tr>
			<tr>
				<td colspan="3" align="center">Окрашивание корней (30-50 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>1,5 часа</td>
				<td>1500</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>1,5 часа</td>
				<td>1700</td>
			</tr>
			<tr>
				<td colspan="3">Окрашивание волос (до 25 см, 30-40 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>1,5 часа</td>
				<td>1300</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>1,5 часа</td>
				<td>1700</td>
			</tr>
			<tr>
				<td colspan="3">Окрашивание волос (25-40 см, 40-80 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>2 часа</td>
				<td>1600</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>2 часа</td>
				<td>2100</td>
			</tr>
			<tr>
				<td colspan="3">Окрашивание волос (свыше 40 см, 60-90 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>2,5 часа</td>
				<td>2000</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>2,5 часа</td>
				<td>2800</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Простое колорирование</strong></td>
			</tr>
			<tr>
				<td colspan="3" align="center">Простое колорирование (до 25 см, 30-50 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>1,5 часа</td>
				<td>1500</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>1,5 часа</td>
				<td>1900</td>
			</tr>
			<tr>
				<td colspan="3">Простое колорирование (25-40 см, 50-80 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>2 часа</td>
				<td>1900</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>2 часа</td>
				<td>2600</td>
			</tr>
			<tr>
				<td colspan="3">Простое колорирование (свыше 40 см, 60-90 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>2,5 часа</td>
				<td>2000</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>2,5 часа</td>
				<td>2700</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Колорирование, экспертное окрашивание, Dim-out</strong></td>
			</tr>
			<tr>
				<td colspan="3" align="center">Колорирование, экспертное  окрашивание, Dim-out(до 25 см, 50-100 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>1,5 часа</td>
				<td>1800</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>1,5 часа</td>
				<td>2400</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Колорирование, экспертное  окрашивание, Dim-out(25-40 см, 60-100 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>2 часа</td>
				<td>2000</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>2 часа</td>
				<td>2700</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Колорирование, экспертное  окрашивание, Dim-out(свыше 40 см, 80-150 г)</td>
			</tr>
			<tr>
				<td>«Igora»</td>
				<td>2,5 часа</td>
				<td>2400</td>
			</tr>
			<tr>
				<td>«Wella»</td>
				<td>2,5 часа</td>
				<td>3400</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Мелирование волос</strong></td>
			</tr>
			<tr>
				<td colspan="3" align="center">Мелирование волос (до 25 см, 50-70 г)</td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td>1,5 часа</td>
				<td>1500</td>
			</tr>
			<tr>
				<td>«Wella» пудра</td>
				<td>1,5 часа</td>
				<td>1500</td>
			</tr>
			<tr>
				<td>«Wella» крем-блондор</td>
				<td>1,5 часа</td>
				<td>1700</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Мелирование волос (25-40 см, 60-100 г)</td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td>2 часа</td>
				<td>1500</td>
			</tr>
			<tr>
				<td>«Wella» пудра</td>
				<td>2 часа</td>
				<td>1800</td>
			</tr>
			<tr>
				<td>«Wella» крем-блондор</td>
				<td>2 часа</td>
				<td>2200</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Мелирование волос (свыше 40 см, 80-140 г)</td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td>2,5 часа</td>
				<td>1700</td>
			</tr>
			<tr>
				<td>«Wella» пудра</td>
				<td>2,5 часа</td>
				<td>2000</td>
			</tr>
			<tr>
				<td>«Wella» крем-блондор</td>
				<td>2,5 часа</td>
				<td>2200</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Растяжка цвета</strong></td>
			</tr>
			<tr>
				<td colspan="3" align="center">Растяжка цвета (25-40 см, 70-150 г)</td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td>2,5 часа</td>
				<td>2000</td>
			</tr>
			<tr>
				<td>«Wella» пудра</td>
				<td>2,5 часа</td>
				<td>2800</td>
			</tr>
			<tr>
				<td colspan="3" align="center">Растяжка цвета (свыше 40 см, 100-170 г)</td>
			</tr>
			<tr>
				<td>«Indola»</td>
				<td>3 часа</td>
				<td>2500</td>
			</tr>
			<tr>
				<td>«Wella» пудра</td>
				<td>3 часа</td>
				<td>3000</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Цветовая баня</strong></td>
			</tr>
			<tr>
				<td>Цветовая баня</td>
				<td></td>
				<td>700</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Депигментирование (деколорант, кислотная смывка краски с волос)</strong></td>
			</tr>
			<tr>
				<td>Короткие волосы</td>
				<td>1 час</td>
				<td>800</td>
			</tr>
			<tr>
				<td>Удлинённые волосы</td>
				<td>1,5 часа</td>
				<td>900</td>
			</tr>
			<tr>
				<td>Длинные волосы</td>
				<td>1,5 часа</td>
				<td>1000</td>
			</tr>
		</table>

</div>
