<section id="content" class="gallery">
  <div class="container" style="background: url(<%= image_url 'box40.png' %>)">
    <div class="row" align="center" style="margin-bottom: 20px;">
		
		<div class="grid_12">
			<h2 style="font-size: 2em;">Наращивание волос</h2>
		</div>
      
		<table>
			<tr>
				<th>Наименование услуги</th>
				<th>Время</th>
				<th>Цена(руб.)</th>
			</tr>
			<tr>
				<td>Наращивание волос 100 прядей<br>(без учета стоимости материалов)</td>
				<td></td>
				<td>3500</td>
			</tr>
			<tr>
				<td>Коррекция наращённых волос 100 <br>прядей (снятие и перенаращивание)</td>
				<td></td>
				<td>5000</td>
			</tr>
			<tr>
				<td>Коррекция 1 пряди наращённых волос<br>(снятие и перенаращивание)</td>
				<td></td>
				<td>50</td>
			</tr>
			<tr>
				<td>Снятие 1 пряди наращённых волос</td>
				<td></td>
				<td>10</td>
			</tr>
			<tr>
				<td>Усложненное снятие 1 пряди<br>наращённых волос<br>(с распутыванием колтунов)</td>
				<td></td>
				<td>20-30</td>
			</tr>
		</table>
    </div>
  </div>
</section>
