<section id="content" class="gallery">
  <div class="container" style="background: url(<%= image_url 'box40.png' %>)">
    <div class="row" align="center" style="margin-bottom: 20px;">
		
		<div class="grid_12">
			<h2 style="font-size: 2em;">Макияж</h2>
		</div>
      
		<table>
			<tr>
				<th>Наименование услуги</th>
				<th>Время</th>
				<th>Цена(руб.)</th>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Окрашивание и оформление бровей и ресниц</strong></td>
			</tr>
			<tr>
				<td>Окрашивание ресниц или бровей</td>
				<td>10 мин</td>
				<td>70</td>
			</tr>
			<tr>
				<td colspan="3" align="left">Оформление бровей</td>
			</tr>
			<tr>
				<td align="right">простое</td>
				<td>5-10 мин</td>
				<td>50-70</td>
			</tr>
			<tr>
				<td align="right">сложное</td>
				<td>15–20 мин</td>
				<td>70-100</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Макияж</strong></td>
			</tr>
			<tr>
				<td>Простой (дневной, легкий макияж<br>без коррекции особенностей<br>кожи и формы лица)</td>
				<td>40–60 мин</td>
				<td>700</td>
			</tr>
			<tr>
				<td>Сложный макияж (вечерний,<br>с коррекцией особенностей<br>кожи и формы лица)</td>
				<td>1 час</td>
				<td>1000</td>
			</tr>
			<tr>
				<td>Сложный макияж с применением<br>накладных ресниц, страз</td>
				<td>до 1.5 часа</td>
				<td>1100-1200</td>
			</tr>
			<tr>
				<td>Частичный макияж (глаза)</td>
				<td>30-40 мин</td>
				<td>350-400</td>
			</tr>
		</table>
    </div>
  </div>
</section>
