<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Brow-bar, моделирование взгляда, макияж
		</h1>
		<ol class="breadcrumb">
                    <li><a href="<%= index_path %>"><strong>Главная</strong></a>
                    </li>
		    <li>Услуги</li>
                    <li class="active">Brow-bar, моделир...</li>
                </ol>
	</div>
</div>
<!-- /.row -->

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Цены на услугу "Brow-bar, моделирование взгляда, макияж"</div>
	<div class="panel-body">
	</div>

	<table class="table table-hover">
			<tr>
				<th>Наименование услуги</th>
				<th>Время</th>
				<th>Цена(руб.)</th>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Окрашивание бровей</strong></td>
			</tr>
			<tr>
				<td>Красителями Estel,Constant DELIGHT и др.</td>
				<td></td>
				<td>100</td>
			</tr>
			<tr>
				<td>Красителем LashColor Levissime</td>
				<td></td>
				<td>150</td>
			</tr>
			<tr>
				<td>Быстрой хной</td>
				<td></td>
				<td>100-200</td>
			</tr>
			<tr>
				<td>Коррекция и оформлениебровей пинцетом (нитью)</td>
				<td></td>
				<td>50-100</td>
			</tr>
			<tr>
				<td>Биотатуаж бровей хной</td>
				<td></td>
				<td>300</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Уход за ресницами,моделирование взгляда</strong></td>
			</tr>
			<tr>
				<td>Окрашивание ресниц красителями Onli, Enigma</td>
				<td></td>
				<td>80</td>
			</tr>
			<tr>
				<td>Окрашивание ресниц красителемLash Color Levissime</td>
				<td></td>
				<td>100</td>
			</tr>
			<tr>
				<td>Шелк для ухода и фиксации цвета</td>
				<td></td>
				<td>50</td>
			</tr>
			<tr>
				<td>Биозавивка</td>
				<td></td>
				<td>500</td>
			</tr>
			<tr>
				<td>Ламинирование ресниц (биозавивка + окрашивание Lash Color Levissime + шелк)</td>
				<td></td>
				<td>650</td>
			</tr>
			<tr>
				<td>Протеиновое восстановление(протеиновая завивка+окрашивание LashColor Levissime + шелк)</td>
				<td></td>
				<td>750</td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"></td>
			</tr>
			<tr>
				<td colspan="3" align="center"><strong>Макияж</strong></td>
			</tr>
			<tr>
				<td>Простой (дневной, легкий макияжбез коррекции особенностейкожи и формы лица)</td>
				<td>40–60 мин</td>
				<td>700</td>
			</tr>
			<tr>
				<td>Сложный макияж (вечерний,с коррекцией особенностейкожи и формы лица)</td>
				<td>1 час</td>
				<td>1000</td>
			</tr>
			<tr>
				<td>Сложный макияж с применениемнакладных ресниц, страз</td>
				<td>до 1.5 часа</td>
				<td>1100-1200</td>
			</tr>
			<tr>
				<td>Частичный макияж (глаза)</td>
				<td>30-40 мин</td>
				<td>350-400</td>
			</tr>
		</table>
</div>
