<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Новости
		</h1>
		<ol class="breadcrumb">
                    <li><a href="<%= index_path %>"><strong>Главная</strong></a>
                    </li>
		    <li><a href="<%= news_index_path %>"><strong>Новости</strong></a>
                    </li>
                    <li class="active">Добавление новости</li>
                </ol>
	</div>
</div>
<!-- /.row -->

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Добавьте новость:</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>
