<% photos_in_folder = @photo.image_paths.split(';') %>

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			<%= @photo.name %>
		</h1>
	</div>
</div>

<div class="row">
	<% photos_in_folder.each do |photo| %>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail">
			<img src="<%= image_url(@photo.name + '/' +  photo) %>" alt="...">
		</a>
	</div>
	<% end %>
</div>
