<% photos_in_folder = @photo.image_paths.split(';') %>

<section id="content" class="gallery">
  <div class="container">
    <div class="row" align="center">
      <div class="grid_12">
        <h3 style="font-size: 2em;" align="center"><%= @photo.name %></h3>
      </div>
      <% photos_in_folder.each do |photo| %>
	      <div class="grid_4">
			<div class="box">
			  <img src="<%= image_url(@photo.name + '/' +  photo) %>" alt=""><span></span>
		  	</div>
	      </div>
     <% end %>
    </div>
  </div>
</section>
